h1 {
  color: rgb(210, 224, 10);
  font-size: 50pt;
  font-style: italic;
  font-family: monospace;
  text-shadow: 3px 3px 3px #000000;
  text-align: center;
  text-decoration: underline;
  width: 150px;
  font-size: 19pt;
  margin: 0;
  padding: 0;
}

div.title {
  background: black;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  /* left: 450px; */
  z-index: 2; /** for override al nonflow elements**/
  animation-name: rainbow;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  width: 150px;
  border-radius: 1mm;
}

p {
  font-weight: bold;
  text-align: justify right;
  font-size: 13pt;
}
#tips {
  font-size: 25pt;
  font-family: Lobster;
  opacity: 0.5;
}
h3 {
  color: blue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
a[href^="tips"] {
  color: rgb(241, 12, 172);
}

a:link {
  color: rgb(17, 0, 255);
}
a:visited {
  color: rgb(121, 63, 9);
}
a:hover {
  color: rgb(212, 235, 8);
}
a:active {
  color: cyan;
}

/** * {
    margin: 0.5;
    padding: 0.5%;
}

 *{
    border: 5% ; 
padding: 0%;
}
**/
body {
  background: url(https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png);
  color: rgb(1, 3, 8);
  font-family: nunito;
}

.header {
  color: blueviolet !important; /** IMPORTANT to override every any selector**/
}
p {
  font-size: 16px;
  font-family: sans-serif;
}
div.intro {
  width: 40%;
  border-style: solid;
  border-color: rgb(3, 3, 3);
  background-color: rgb(22, 60, 185);
  border-radius: 2mm 2mm 2mm 2mm; /** funciona en sentido horario, top, right, bottom, left**/
  /** border-top-left-radius: 2mm;
  border-top-right-radius: 2mm;    (manera larga de establecer el radio de la caja)
  border-bottom-left-radius: 2mm;
  border-bottom-right-radius: 2mm;**/
  margin-left: 5mm;
  text-align: center;
  color: blanchedalmond;
  box-shadow: 0 20px 10px rgba(13, 13, 14, 0.59),
    10px 10px 10px rgba(2, 2, 2, 0.43);
}
.box-intro {
  background: linear-gradient(35deg, white, yellow);
  color: brown;
  margin: 65px 10px 10px 10px;
  padding: 65px 10px 65px 10px;
}

div.container1 {
  width: 50%;
  border: 2px solid black;
  padding: 5px;
}

div.box {
  box-sizing: border-box;
  width: 50%;
  border: 5px solid red;
  float: left;
}

[type="radio"] {
  margin: 20px 0px 20px 0px;
}

[type="checkbox"] {
  margin: 20px 0px 20px 0px;
}
.circle-image {
  border-style: solid;
  border-radius: 50%;
  margin: 15px;
  position: relative;
  left: 350px;
}

@keyframes rainbow {
  0% {
    background-color: rgb(224, 6, 6);
  }
  50% {
    background-color: rgb(206, 128, 10);
  }
  100% {
    background-color: rgb(5, 5, 5);
  }
}

p.float:hover {
  transform: scale(1.5); /* animates the scale of an object*/
  position: relative;
  left: 350px;
}

button {
  background: rgb(13, 139, 40);
}

button:hover {
  animation-name: newcolor;
  animation-duration: 500ms;
  animation-fill-mode: forwards; /*this keeps the animation changes so it doesnt go back to its original form*/
  animation-iteration-count: infinite;
}
@keyframes newcolor {
  100% {
    background-color: #45b901;
  }
}

#moveimg {
  border-radius: 2mm;
  position: relative;
  animation-name: moves;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in;
}
@keyframes moves {
  0% {
    left: 0px;
  }
  50% {
    left: 55px;
  }
  100% {
    left: 0px;
  }
}

/** *{   it desactivates the background color of the div bc *is for all in the doc
  background-color:#9FAF9C;
}**/

/* Here's an example of a media query that returns the content when the device's width is less than or equal to 100px: */

@media (max-width: 100px) {
  p {
    font-size: 10px;
  }
}

/* and the following media query returns the content when the device's height is more than or equal to 350px: */

@media (min-height: 350px) {
  font-size: 20px;
}

.d1 {
  background: LightSkyBlue;
} /*THIS SECTION IS FOR CSS GRID*/
.d2 {
  background: LightSalmon;
}
.d3 {
  background: PaleTurquoise;
}
.d4 {
  background: LightPink;
}
.d5 {
  background: PaleGreen;
  grid-column: 2/4;
}

.container2 {
  font-size: 40px;
  min-height: 300px;
  width: 100%;
  background: LightGray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 10px; /*or you can use grid-gap: 20px 10px*/
}
